hr{
  max-width: 68.7%;
  margin-left: 15.2%;
  background-color: lightgrey;
}

.filter{
  max-width: 68.7%;
  height: auto;
  display: flex;
  margin: 20px 0 20px 15% !important;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.filter button{
  background-color: #fff;
  outline: none;
  border: 0;
  color: black;
  align-items: center;
  padding-block: 5px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: medium;
}

.Dropdown-control{
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  padding-left: 20px;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 1vh !important;
  padding-inline: 1vh;
  padding-block: 1vh; */
}

.Dropdown-menu{
  border-radius: 5px;
  max-width: 70%;
  margin-left: 12px;
}

.Dropdown-placeholder{
  margin-right: 35px;
  /* font-size: small; */
}

.Dropdown-arrow{
  margin-top: 4px !important;
  margin-right: 5px !important;
}


.cardcontainer{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  padding-left: 14%;
}

.listingcard {
  width: 40%;
  height: 250px;
  display: flex;
  border: 2px solid black;
  border-right: 2px solid #000;
  margin: 10px;
}

.listingcard img {
  margin: 10px 0 0 10px;
  width: 50%;
  height: 92%;
  object-fit: cover;
}

.listingname {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  margin-left: 5%;
}
.listingname p {
  display: inline;
  text-align: left;
}
.listingname p:first-child {
  font-size: 1rem;
  font-weight: bolder;
}

.listingname p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: -10px;
  width: max-content !important;
}

.listingname p:nth-child(3) {
  font-size: 60%;
  font-weight: bold;
  margin-top: 25px;
  max-height: 50% !important;
}

.load{
  display: flex;
  align-items: center;
  justify-content: center;
}

.load button{
  background-color: #fff;
  outline: none;
  border: 2px solid #000;
  color: black;
  align-items: center;
  padding-block: 5px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: medium;
}

@media(max-width:1100px) {
  .cardcontainer{
    flex-direction: column;
    padding: 3vh;
    gap: 5vh;
  }
  .listingcard {
    flex-direction: column;
    width: auto;
    padding: 1vh;
  }
  .listingcard svg{
    margin: 1px 1px 1px auto !important;
  }
  .filter{
    margin-inline: 3vh !important;
    margin-top: 2vh !important;
    max-width: none;
  }
}

