.loginText {
  width: fit-content;
  height: fit-content;
  font-size: smaller;
}

.login {
  display: flex;
  flex-direction: column;
}

.loginText h1 {
  font-size: 37.152px;
  font-weight: 400;
}

.loginText span {
  color: #8f8f8f;
}

.loginheader.headerlogo {
  cursor: pointer;
}

.loginbtn:hover {
  cursor: pointer;
}

/* ('data:image/svg+xml;utf8,paste svg link'),auto */

.passip,
.emailip,
.nameip {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: space-between;
  padding: 1vh;
  padding-left: 0;
  margin-top: 4vh;
}

.names {
  display: flex;
  gap: 2vh;
}

.nameip {
  width: 32.5%;
}

.ant-select-selection-placeholder{
  color: #666666 !important;
font-size: 1rem !important;
font-weight: 400;
}
.passip svg {
  width: 5%;
  cursor: pointer;
}

.passip input,
.emailip input,
.nameip input {
  border: 0;
  outline: none;
  width: 100%;
}

.loginbtn {
  border-radius: 24.328px;
  border: 0.652px solid #000;
  background: #d6db63;
  padding: 2vh;
  width: 40vh;
  cursor: pointer;
  margin-top: 5vh;
}

.loginContainer.lg-page {
  display: flex;
  justify-content: space-evenly;
  margin-block: 3vh;
}

.Loginform {
  width: 25%;
}

.Loginform input {
  font-family: 'Poppins';
}

.forgotpass {
  font-size: smaller;
  cursor: pointer;
}

.login .loginimg {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 60%;
}

.loginsignup {
  cursor: pointer;
}

.ant-spin-dot-item {
  background-color: #000 !important;
}

.signupBtn {
  outline: none;
  margin: 3vh;
  margin-right: 1rem;
  width: 36vh;
  height: 45px;
  background: white;
  color: black;
  border: 1px solid #000;
  border-radius: 22px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button {
  position: relative;
}

.button label,
.button input {
  display: block;
  width: 100%;
  height: 10vh;
}

.button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.button input[type="radio"]:checked+label {
  background: #d6db63;
}

.button label {
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
  outline: none;
  width: 100%;
  height: 45px;
  background: white;
  color: black;
  border: 1px solid #000;
  border-radius: 22px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-align: center;
  line-height: 3rem;
}

.navbarheader {
  display: flex;
  align-items: center;
  gap: 10vh;
  margin: 2rem 3rem auto;
}

.backbtn {
  border: 1px solid black;
  border-radius: 3vh;
  margin-left: 13px;
}

.backbtn p {
  width: 40px;
  margin: 0;
  padding: 0vh;
  text-align: center;
  font-size: larger;
  margin: 3px;
}

.backbtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.signup {
  width: 100%;
}

.lgs {
  width: 25%;
}

.abs-2 {
  position: absolute;
  left: -5%;
}

.abs-3 {
  position: absolute;
  top: -18%;
  right: 0;
  pointer-events: none;
}

.abs-1 {
  position: fixed;
  bottom: -25%;
  right: 15%;
  transform: scaleX(-1);
  pointer-events: none;
}

.Loginform .mobLofinForm p {
  padding-bottom: 10px;
}

.buttons-select {
  width: 315px;
}

.passip input,
.emailip input,
.nameip input {
  font-size: 1rem;
  font-weight: 500;

}

/* new */

@media (max-width: 1100px) {
  .loginText span {
    padding-top: 10px;
  }

  .emailip input {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .passip input {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .Loginform {
    width: 80%;
    max-width: 400px;
    margin-top: auto;
    margin-right: 500px;
  }

  .buttons-select {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin-bottom: 10px;
  }

  .abs-1,
  .abs-2,
  .abs-3 {
    display: none;
  }

  .mobLofinForm {
    margin: 3rem auto !important;
  }

  .mobLofinForm p {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* margin-bottom:100px ; */
  }

  .singup-img {
    display: none !important;
  }

  .lgs {
    padding-top: 2vh !important;
  }

  .login {
    padding: 2vh;
  }

  .Loginform .buttons-select {
    margin-top: 1vh !important;
  }

  .loginContainer.lg-page {
    flex-direction: column;
    margin: 2rem auto !important;
    align-items: center !important;
    gap: 8px;
  }

  .loginText {
    margin-block: 2vh !important;
    font-size: medium;
    margin: 0rem auto !important;
    width: 80%;
    margin-block: 0 !important;
    text-align: center;
  }

  .passip,
  .emailip,
  .nameip {
    width: auto;
    margin-top: 3vh !important;
    padding-right: 1vh;
  }

  .passip input,
  .emailip input,
  .nameip input {
    font-size: 1rem;
    font-weight: 600;

  }

  .forgotpass {
    margin-block: 2vh !important;
  }

  .loginbtn {
    margin-top: 1vh !important;
    width: 100%;
    color: #000;
    margin-top: 3rem !important;
  }

  .nextbtn {
    position: relative;
    margin-top: 1vh !important;
    z-index: 111;
  }

  .p {
    margin-block: 2vh !important;
    text-align: center;
  }

  .login .loginimg {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 30%;
    /* width: 50%; */
    width: auto;
  }

  .loginText {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
  }

  .loginText h1 {
    font-size: 30.152px;
    font-weight: 900;
  }

  .loginText span {
    color: #565353;
    font-weight: 800px;
  }

  .navbarheader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarheader .logoIcon {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
  }

  .navbarheader {
    position: relative;
  }

  .backbtn {
    position: absolute;
    left: 0;
  }

  .loginText span {
    display: flex;
    justify-content: center;
    color: #8f8f8f;
    font-size: 1rem;
    font-weight: 700;
  }

  .mobLofinForm p {
    display: flex;
    justify-content: center;
  }

  .buttons-select {
    /* display: flex;
    justify-content: center; */
  }

  .Loginform.mobLofinForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 610px) {
  .backbtn p {
    margin: 0;
    padding: 0.2vh;
    text-align: center;
    /* height: 3vh; */
    margin: 3px;
    flex-direction: start;
  }

  .select {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
  }

  /* .buttons-select {
    display: flex;
    flex-direction: column;
    align-content: center;
  } */
  .backbtn p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .Loginform.mobLofinForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 363px) {
  .backbtn p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginheader img {
    font-weight: 50;
    width: 30%;
  }

  .passip input,
  .emailip input,
  .nameip input {
    font-size: 1rem;
    font-weight: 600;

  }
}

@media (max-width: 426px) {
  .loginimg {
    display: none;
  }
}

@media (max-width: 360px) {
  .loginimg {
    display: none;
  }
}


@media (max-width: 400px) and (max-height: 700px) {
  .loginimg {
    top: 79%;
  }
}

@media (min-height: 1000px) and (max-width: 1100px) {
  .loginContainer.lg-page {
    padding-block: 150px;
  }

  .Loginform {
    padding-top: 30px;
  }

  .loginText h1 {
    font-size: 3.5rem;
  }

  .loginText span {
    /* background-color: red; */
    font-size: 1.5rem;

  }

  .loginContainer.lg-page {
    padding-top: 70px;
  }
}