.loginText {
    font-weight: 300;
}

.passip,
.emailip,
.nameip {
    display: flex;
    border-bottom: 1px solid black;
    width: 70%;
    justify-content: space-between;
    padding: 2vh;
    padding-left: 0;
    margin-top: 4vh;
}

.names{
    display: flex;
    gap: 2vh;
}

.nameip{
    width: 32.5%;
}

.passip svg {
    width: 5%;
    cursor: pointer;
}

.passip input,
.emailip input,
.nameip input {
    border: 0;
    outline: none;
    width: 100%;
}

.loginbtn {
    border-radius: 24.328px;
    border: 0.652px solid #000;
    background: #D6DB63;
    padding: 2vh;
    width: 40vh;
    cursor: pointer;
    margin-top: 5vh;
}

.loginContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 7vh;
}

.forgotpass{
    font-size: smaller;
    cursor: pointer;
}

.login .loginimg{
    position: absolute;
    top: 47vh;
    width: 25%;
}

.loginsignup{
    cursor: pointer;
}