.home {
    background: rgba(0, 0, 0, 0.05);
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 4vh;
    margin: 0vh 20vh 5vh 20vh;
    padding: 5vh;
    background: white;
    border-radius: 32px;
    gap: 2vh;
}

.intro span {
    font-size: xx-large;
    font-weight: 700;
}

.intro p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 20px;
}

.intro img {
    width: 4%;
}

.introcontent {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    gap: 1vh;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.offerbtn {
    border-radius: 3vh;
    background-color: black;
    color: white;
    width: 21%;
    height: 7vh;
    margin: 5px auto;
    font-size: larger;
    transition: 0.2s;
    border: none;
    outline: none;
}

.offerbtn:hover {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgb(255, 112, 0) 0px 17px 0px -8px, rgb(255, 160, 0) 0 33px 0px -15px, rgb(255, 216, 0) 0 42px 0px -17px;
    transform: translateY(-0.25em);
}

.requests {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;

}

.requestshead p {
    margin: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.requests .requestshead {
    margin: 2vh;
}

.requestshead span {
    padding-inline: 5vh;
    font-size: 48px;
    font-weight: 600;
}

.requestsbody {
    display: flex;
    gap: 8vh;
}

.requestsbody img {
    width: 100%;
}

.requestsitem {
    display: flex;
    flex-direction: column;

}

.requestsitemhead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestsitem p {
    font-size: 20px;
}

.requestsitemhead h1 {
    font-size: 24px;
}

.buisness {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;
}

.buisnessbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 10vh;

}

.row {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.row span {
    text-align: left;
    font-size: 24px;
    display: flex;
    gap: 2vh;
    font-weight: 600;
}

.row img {
    width: 5vh;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;
    padding-bottom: 10vh;
}

.works {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;
    padding-bottom: 10vh;
}

.aboutrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10vh;
    gap: 10vh;
}

.aboutcolumn img {
    width: 5vh;
}

.aboutcolumn p {
    margin: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.aboutbody {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;
}

.profile img {
    width: 15vh;
    border-radius: 50%;
    margin: 5px auto;
}

.profilehead p {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 20px;
}

.profilehead span {
    font-size: 48px;
    font-weight: 600;
    margin-block: 5vh;
}

.profilehead {
    display: flex;
    flex-direction: column;
}

.profilebody {
    margin-top: 10vh;
}

.profilerow {
    display: flex;
    gap: 5vh;
    justify-content: center;
}

.profilecolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6vh;
    width: 30%;
    border-radius: 32px;
    height: 70vh;
}

.profilecolumn.black {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.profilecolumn.black span {
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.profilecolumn p {
    font-size: 24px;
    font-weight: 600;
}

.profilespan {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.captionspan {
    position: relative;
    color: white;
    font-size: xxx-large;
    font-weight: 600;
}

.caption {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.caption p {
    position: relative;
    font-size: 24px;
    font-weight: 600;
}

.caption span {
    margin: 0;
}

.marquees img {
    width: 99%;
    height: 40vh;
    border-radius: 2vh;
}

.imgbody {
    display: flex;
    justify-content: space-evenly;
}

.imgbody img {
    width: 40%;
    border-radius: 5vh;
}

.collaboration {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0vh 20vh 0vh 20vh;
    padding: 5vh;
    border-radius: 32px;
    padding-bottom: 10vh;
}

.collaborations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 10vh;
    gap: 5vh;
}

.collaborations img {
    width: 40%;
}