.home {
    background: white;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.banner {
    margin: 4rem 4rem auto;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 40px;
    z-index: 99;
}

.banner-heading {
    display: flex;
}

.bg {
    position: absolute;
    left: 50%;
    width: 50%;
    top: 9vh;
    height: 80%;
    mask-image: linear-gradient(40deg, transparent 50%, #0f0f0f 80%);
}

.Ellipse {
    position: absolute;
    width: 60%;
    left: 25%;
    height: 77vh;
}

.banner-text h1 {
    align-items: center;
    margin: 0;
    text-align: start;
    font-weight: normal;
    text-transform: uppercase;
}

.ml-1 {
    margin-left: 1rem;
}

.banner-text h1 img {
    height: 50px;
}


.team {
    margin: 4rem auto;
    position: relative;
    height: 50vh;
}

.join-block {
    background: #0f0f0f;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}


.joinContainer {
    margin-inline: 5rem;
    cursor: pointer;
}

.join-block h2 {
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem;
}

.arrow {
    display: flex;
    background-color: #0f0f0f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-5vh, 5vh);
    transition: all 0.5s;
}

.join-block:hover>.arrow {
    transform: translate(0, 0);
}

.join-block:hover>.join-block {
    background: url('../../Assets/images/Subtract.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow img {
    width: 100%;
    height: 100%;
}

.faq {
    border: 2px solid black;
    height: 354px;
    margin: 3rem 4rem auto;
}

.firststep {
    position: relative;
    top: -20vh;
    pointer-events: none;
}

.faq-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 722px;
    font-size: 41px;
    margin: 5rem;
}

.mission {
    background-color: #D9E167;
    padding: 5rem;
    height: 400px;
    border-bottom-right-radius: 327px;
    height: 654px;
    margin: 4rem;
}

.mission-block {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.mission-left {
    flex: 1;
}

.mission-left h4 {
    width: 500px;
    font-size: 32px;
}

.mission-right {
    flex: 1;
}

.mission-right h4,
p {
    width: 500px;
}

.mission-right h4 {
    font-size: 32px;
}

.mission-right p {
    font-size: 20px;
}

.text-grey {
    color: #3E3E3E;
    font-weight: 400;
}


.services {
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.card {
    width: 33%;
    height: 300px;
    border-bottom: 1px solid #6D6C6C;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(7) {
    border-right: 1px solid #6D6C6C;
}

.card-head {
    width: 60px;
    height: 60px;
    margin-left: 1rem;
    margin-top: 2rem;
}

.card-head img {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.show {
    animation: animate 500ms ease;
}

@keyframes animate {
    0% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.card-body {
    margin-left: 1rem;
}


.card-body h5 {
    font-size: 22px;
    width: 431px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;

}

.card-body p {
    font-size: 16px;
    width: 314px;
    color: #6D6C6C;
    margin: 0;
}

.collaborators {
    margin: 2rem 4rem auto;
}

.heading {
    text-align: center;
    font-size: 24px;
    padding: 12px;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ribbon {
    position: relative;
    margin-left: 15%;
}



.tilt {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 6px;
    right: 31vh;
    margin-top: 1vh;
}

.tiltedChild {
    background-color: #000;
    color: white;
    padding: 2vh;
    border-radius: 5vh;
    text-align: center;
    width: fit-content;
    width: 20%;
    cursor: pointer;
}

.tiltedChild:nth-child(1) {
    animation-delay: 1000ms;
    animation: bounceInDown1 3s;
}

.tiltedChild:nth-child(2) {
    animation-delay: 800ms;
    animation: bounceInDown2 2.5s;
}

.tiltedChild:nth-child(3) {
    animation-delay: 600ms;
    animation: bounceInDown3 2s;
}

.tiltedChild:nth-child(4) {
    animation-delay: 400ms;
    animation: bounceInDown4 1.5s;
}

.tiltedChild:nth-child(5) {
    animation-delay: 200ms;
    animation: bounceInDown5 1s;
}

@keyframes bounceInDown1 {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-18.351deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-18.351deg);
    }

    80% {
        transform: translateY(-10px) rotate(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInDown2 {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(9.803deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(9.803deg);
    }

    80% {
        transform: translateY(-10px) rotate(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInDown3 {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-18.351deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-12.953deg);
    }

    80% {
        transform: translateY(-10px) rotate(-12.953deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInDown4 {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(21.934deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(21.934deg);
    }

    80% {
        transform: translateY(-10px) rotate(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInDown5 {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-18.28deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-18.28deg);
    }

    80% {
        transform: translateY(-10px) rotate(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    .tilt{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        gap: 2vh;
        right: 11vh;
    }

    .bg {
        top: 12vh;
    }
} 

@media(max-width:767px){
    
    .bg, .Ellipse, .img1, .img2, .ml-1, .steps, .arrow, .ribbon{
        display: none;
    }

    .future{
        color: white;
    }

    .joinContainer{
        width: 70vh;
        margin-right: 70%;
        align-items: center;
        justify-items: center;
    }

    .banner{
        width: 220vh;
        height: auto;
        margin: 0;
        padding: 5%;
        padding-bottom: 5%;
        background-color: #e1d7ca;
    }

    .banner-heading, .banner-text, .banner-text h1 {
        align-items: center;
        justify-content: center;
        text-align: none;
        font-weight: normal;
        text-transform: lowercase;
    }

    .join-block{
        height: 20px;
        width: 110px;
        margin-left: 110%;
        background-color: #D9E167;
        background-image: none;
    }

    .join-block h2{
        font-size: small;
    }
}

@media  screen and (max-width: 1920px) {
    
}

.initial-child-container {
    gap: 10vh;
}

.marquee{
    gap: 10vh;
}