.framer-x9m1eb {
    flex: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 32px;
}

.framer-8mavu0 {
    background-color: #ff7000;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.framer-16x9014 {
    background-color: #ff7d00;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 200px;
    will-change: transform;
}

.framer-1lvsclt {
    background-color: #ff9400;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 400px;
    will-change: transform;
}

.framer-1x4en10 {
    background-color: #ffab00;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 600px;
    will-change: transform;
}

.framer-bpo1nj {
    background-color: #ffc200;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 800px;
    will-change: transform;
}

.framer-15daoq4 {
    background-color: #ffd800;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    flex: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1000px;
    will-change: transform;
}

.framer-2o0271 {
    background-color: #ffd800;
    border-radius: 32px;
    flex: none;
    height: 696px;
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: transform;
}

.shape{
    width: 349.503px;
    height: 713.619px;
    border-radius: 200px;
    flex-shrink: 0;

}
.framer1 {
    transform: rotate(-13.733deg);
    background: #E69D4D;
}

.framer2{
    transform: rotate(-7.654deg);
    background: #EBB254;
}

.framer3{
    transform: rotate(0.131deg);
    background: #F0C65C;
}

.framer4{
    transform: rotate(9.201deg);
    background: #F5DA64;
}

.framer5{
    background: #F0C65C;
    transform: rotate(9.555deg);
}

@media(max-width: 767px){
    .shape{
        display: none;
    }

    .framer-x9m1eb {
        display: none;
    }
    
    .framer-8mavu0 {
        display: none;
    }
    
    .framer-16x9014 {
        display: none;
    }
    
    .framer-1lvsclt {
        display: none;
    }
    
    .framer-1x4en10 {
        display: none;
    }
    
    .framer-bpo1nj {
        display: none;
    }
    
    .framer-15daoq4 {
        display: none;
    }
    
    .framer-2o0271 {
        display: none;
    }
    
}