.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2vh;
    align-items: center;
    border-bottom: 1px solid #000;
}

.headerlogo {
    display: flex;
    gap: 2vh;
}

.signin {
    margin-right: 1rem;
    width: 114px;
    height: 45px;
    background: white;
    color: black;
    border: 1px solid #000;
    border-radius: 22px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.signin:hover {
    background-color: #D6DB63;
}

.request {
    width: 148px;
    height: 45px;
    background-color: #D6DB63;
    color: black;
    border: 1px solid #000;
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.request:hover {
    background-color: white;
}

@media(max-width:767px) {

}