@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 1px solid #c7c7c7;
  padding-right: 2%;
  padding-left: 2%;
  padding-block: 4vh;
  width: 96%;
}

.headerlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 13px; */
}

.signin {
  margin-right: 1rem;
  width: 114px;
  height: 45px;
  background: white;
  color: black;
  border: 1px solid #000;
  border-radius: 22px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.signin:hover {
  background-color: #d6db63;
}

.request {
  width: 148px;
  height: 45px;
  background-color: #d6db63;
  color: black;
  border: 1px solid #000;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.request:hover {
  background-color: white;
}

.header-form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

/* styling of whole input container */
.header-form {
  --timing: 0.3s;
  --width-of-input: 35rem;
  --height-of-input: 48px;
  --border-height: 2px;
  --input-bg: transparent;
  --border-color: #585858;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  border: 1px solid rgba(140, 140, 140, 0.398);
  margin-left: 10rem;
}

/* styling of Input */
.header-input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

.header-input::placeholder {
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
}

/* styling of animated border */
.header-form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

input:focus {
  outline: none;
}

.form-button {
  background-color: #000;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
}

.form-button svg {
  font-size: 1rem;
  color: #ffff;
  margin-bottom: 0.2rem;
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.header-form svg {
  width: 17px;
  margin-top: 3px;
}

.search-bar {
  border: 0.1px solid #c7c7c7;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  font-size: small;
  width: 50vw;
} 


h8 {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 70px;
  font-weight: 400;
  font-size: small;
  color: #8f8f8f;
}



.icons {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons svg,
.small-pic {
  font-size: 1.6rem;
  margin-inline: 1rem;
  cursor: pointer;
}

.small-pic {
  width: 33px !important;
  height: 33px !important;
}

.prof {
  display: none;
}

.a {
  display: none;
}


.buttons {
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: space-between;

}

.buttons svg {
  font-size: 4%;
}



.buttons.icons p:last-child {
  margin-right: 0;
}

.buttons.icons p:hover {
  color: #000;
}

.buttons.icons svg {
  font-size: 18px;
}

.x {
  display: flex;
  align-items: center;
  gap: 3px;

}

.y {
  display: flex;
  align-items: center;
}

.z {
  display: flex;
  align-items: center;
}

.unlogin{
  display: flex;
  justify-content: space-between;
}

.dummy {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;

}

.top {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;

}

.buttons{
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

/* */
/* new */
.search-bar input{
  border: none;
  
}

.search-bar svg{
  font-size: 26px;
}

.left{
  display: flex;
  align-items: center;
}
.search-bar input {
  font-size: large;
}
 
.search-bar svg{
  padding-left: 8px;
}
.left input{
  padding-left: 10px;
}
.righti svg {
  display: flex;
}



@media (max-width: 1100px) {

  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .prof {
    display: flex;
    align-items: center;
  }

 .top {
    display: flex;
    justify-content: space-between;
  } 

  .search-bar {
    width: auto;
    height: 30px;



  }

  .search-bar svg {
    height: 30px;
    padding-left: 3px;
    width: auto;
  }

  .ico {
    /* margin-left: 20px; */
    padding-left: 10px;
    font-size: 20px;
  }

  h8 {
    padding-left: 20px;
  }

  .a {
    display: flex;
    height: 85%;
    width: 85%;
    object-fit: contain;
    border-radius: 50%;
    border: 0.1px solid rgb(199, 194, 194);
    align-items: center;
    top: 20px;
  }

  .right {
    display: none;
  }

  .searchPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
}

