@font-face {
  font-family: 'Futura';
  src: url('../src/Assets/FUTURA_BK_BT_BOOK.TTF') format('truetype'),
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', 'San Francisco', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: 'Poppins', 'Helvetica Neue', 'San Francisco', Arial, sans-serif;
}
html, body {margin: 0; height: 100%; overflow: hidden}